@import '../../../assets/style/common.less';

@mine-header-height: 100px;
@menu-height: 45px;
@footer-height: 20px;

.container {
  min-height: 100%;

  .menu {
    background-color: rgb(126, 189, 71);
    color: rgb(33, 95, 51);
    display: flex;
    justify-content: center;
    position: fixed;
    top: calc(@mine-header-height + @header-height);
    z-index: 2;
    width: 1000px;
    height: @menu-height;
  }

  & > main {
    margin-top: calc(@mine-header-height + @header-height + @menu-height + 30px);
    min-height: calc(100vh - @header-height - @mine-header-height - @menu-height - @footer-height);
  }

  & > footer {
    height: @footer-height;
    background-color: rgb(121, 180, 74);
  }
}

.lib-and-daily-sentence-box() {
  overflow: hidden;
  background-image: url('assets/pic/student/mine-sentence-bg.png');
  background-size: cover;
  height: 215px;
  width: 720px;
  margin: 40px auto 0 auto;
  color: @high-green;
}
