@import 'src/assets/style/common';

.bar {
  width: 75%;
  padding: 10px 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  color: @font-green;

  h2 {
    color: @font-green;
  }

  div {
    width: 625px;
    h2 {
      margin-bottom: 30px;
    }
  }

  img {
    height: 100px;
  }
}
