@high-green: rgb(58, 119, 85);
@middle-green: rgb(126, 189, 71);
@low-green: rgb(220, 237, 205);
@font-green: rgb(34, 95, 52);

.btn-with-bg (@url, @width, @height) {
  background: @url no-repeat;
  background-size: cover;
  border-style: none;
  width: @width;
  height: @height;
  cursor: pointer;
}
