@desTop: 100px;
.detail-container {
  background-image: url('assets/pic/student/LeaderBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.des-container {
  margin: 0px auto 0px;
  height: calc(100% - @desTop);
  width: 990px !important;
  background-color: #f1f1f1;
  overflow-y: scroll;
  position: absolute;
  top: @desTop;
}

.img-container {
  position: relative;
  height: 160px;
  width: 120px;
  // background-color: rgb(160, 123, 123);
  left: 0px;
}
