.detail-container {
  background-image: url('assets/pic/student/LeaderBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: scroll;
}

.ant-descriptions {
  width: 1000px !important;
}

.des-container {
  margin: 120px auto 0px;
  width: 960px !important;
  background-color: #f1f1f1;
}

.img-container {
  position: relative;
  height: 160px;
  width: 120px;
  // background-color: rgb(160, 123, 123);
  left: 0px;
}
