.signin {
  background-color: #7ebd47;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin .signin-content {
  display: flex;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}
.signin .signin-content img {
  width: 400px;
}
.signin .signin-content .signin-left {
  width: 400px;
  height: 400px;
  background-image: url('assets/pic/signin/dialog4.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signin .signin-content .signin-left .signin-title {
  margin-top: 40px;
  color: #3a7754;
}
.signin .signin-content .signin-left .signin-title > div:nth-child(1) {
  margin-right: 200px;
  font-size: 30px;
  font-weight: bold;
}
.signin .signin-content .signin-left .signin-title > div:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}
.signin .signin-content .signin-left .signin-title > p:nth-child(3) {
  font-size: 25px;
  font-weight: bold;
}
.signin .signin-content .signin-left .signin-form {
  display: flex;
  width: 60%;
  margin-right: 70px;
  flex-direction: column;
}
.signin .signin-content .signin-left .signin-form input {
  border: none;
  border-bottom: 1px solid #3a7754;
  outline: none;
  height: 25px;
  background-color: #cae4be;
}
.signin .signin-content .signin-left .signin-form input:nth-child(2) {
  margin-top: 20px;
}
.signin .signin-content .signin-left .signin-form input::placeholder {
  color: #3a7754;
  font-weight: light;
  font-size: 22px;
}
.signin .signin-content .signin-left img {
  width: 150px;
  padding-right: 60px;
}
.signin .signin-content .signin-left img:hover {
  cursor: pointer;
}
