@import 'src/assets/style/common';

.header {
  padding-top: 30px;
  margin: 40px 0;
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
    line-height: 20px;
    color: @font-green;
  }

  img {
    height: 18px;
    margin-left: 10px;
  }
}
