.rank-box {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 10px;

  .pic {
    display: flex;
    align-items: center;
    margin-left: 5px;

    div {
      background-size: cover;
      width: 25px;
      height: 25px;
    }

    img {
      margin-left: 5px;
      width: 80px;
    }
  }

  .desc {
    h3 {
      margin: 0 0 0 10px;
      color: rgb(54, 54, 56);
    }

    h4 {
      max-width: 280px;
      color: rgb(142, 142, 148);
      font-size: 15px;
      font-weight: normal;
      margin: 4px 0 0 10px;
    }
  }

  .cqupt-rate-rank {
    margin: 0 0 0 auto;

    & > div {
      width: 265px;
      display: flex;

      h4 {
        color: rgb(127, 125, 126);
        font-weight: normal;
        margin: 10px 0 0 25px;
      }
    }
  }

  .rate-rank {
    margin: 0 0 0 auto;
    width: 95px;

    h4 {
      color: rgb(127, 125, 126);
      font-weight: normal;
      margin: 10px 0 0 10px;
    }
  }
}
