@import '../../../assets/style/common.less';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: @middle-green;

  .people-img {
    margin: 100px 0 0 40px;
    width: 450px;
  }

  .dialog-box {
    display: inline-block;
    position: absolute;
    background-image: url('assets/pic/student/welcome-dialog.png');
    background-size: cover;
    top: 60px;
    width: 405px;
    height: 416px;
    padding: 40px 20px;

    h2 {
      margin: 25px 0 0 80px;
      color: @high-green;
      font-size: 28px;
    }

    p {
      color: @high-green;
      width: 80%;
      margin: 55px 0 0 80px;
    }

    button {
      .btn-with-bg(url('assets/pic/student/welcome-begin.png'), 161px, 38px);
      margin: 100px 0 0 145px;
    }
  }
}
