@import '../../../assets/style/common.less';

@college-header-height: 100px;
@footer-height: 20px;

.container {
  position: relative;
  min-height: 100%;

  .college-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: @header-height;
    z-index: 2;
    width: 1000px;
    height: @college-header-height;
    background-color: @middle-green;

    .hat-img {
      width: 30px;
      margin-left: 40px;
    }

    h5 {
      display: inline-block;
      margin: 0 0 0 10px;
      color: @font-green;
      font-weight: normal;

      span {
        color: rgb(233, 84, 18);
      }
    }

    .my-detail-btn {
      margin: 0 20px 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      img {
        width: 30px;
      }

      h5 {
        margin: 10px 0 0 0;
      }
    }
  }

  & > main {
    margin-top: calc(@college-header-height + @header-height);
    min-height: calc(100vh - @header-height - @college-header-height - @footer-height);
  }

  & > footer {
    height: 20px;
    background-color: rgb(121, 180, 74);
  }
}

.college-rank {
  & > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  & > p {
    flex: 1;
    text-align: right;
    color: rgb(127, 125, 126);
  }
}

.college-time,
.college-process,
.college-experience {
  margin-bottom: 30px;

  header {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;

    h2 {
      display: inline-block;
      margin: 0;
      color: @font-green;
      font-weight: 500;
    }
    img {
      margin-left: 10px;
      width: 30px;
    }
  }
}

.college-time main {
  .bar-box {
    display: flex;
    height: 230px;
    justify-content: space-evenly;
  }
}

.college-process main {
  .pie-box {
    display: flex;
    justify-content: space-evenly;
  }

  .sentence-box {
    background-image: url('assets/pic/student/college-process-sentence.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 70%;
    margin: 260px auto 40px auto;
    color: rgb(39, 133, 99);
    font-size: 17px;
    line-height: 25px;

    & > div {
      width: 90%;
      margin: 35px 0;
    }
  }
}

.college-experience main {
  flex-direction: column;
  display: flex;
  align-items: center;
}
