@import './assets/style/common.less';

.app {
  font-family: 'Microsoft YaHei';
  min-height: calc(100vh - @header-height);

  .appMain {
    width: 100vw;
    background-color: rgb(126, 189, 71);
  }
  .main {
    background-color: rgb(126, 189, 71);
    width: 1000px;
    // width: 100vw;
    margin: 0 auto;
    // min-height: 500px;
    height: calc(100vh - @header-height);
    margin-top: 40px;
  }
}
